name: Generate Podcast Feed
on: [push]
jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6.0.1
      - name: Run Feed Generator
        uses: MokshakKetanDagli/podcast-generator@main
